
<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"> <head>

  <meta property="og:title" content="Welcome to Nuryl!"/>
  <meta property="fb:page_id" content="43929265776" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- NAME: SOFT -->
  <!--[if gte mso 15]>
  <xml>
      <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Nuryl!</title>

  <style type="text/css">
      p{
          margin:10px 0;
          padding:0;
      }
      table{
          border-collapse:collapse;
      }
      h1,h2,h3,h4,h5,h6{
          display:block;
          margin:0;
          padding:0;
      }
      img,a img{
          border:0;
          height:auto;
          outline:none;
          text-decoration:none;
      }
      body,#bodyTable,#bodyCell{
          height:100%;
          margin:0;
          padding:0;
          width:100%;
      }
      #outlook a{
          padding:0;
      }
      img{
          -ms-interpolation-mode:bicubic;
      }
      table{
          mso-table-lspace:0pt;
          mso-table-rspace:0pt;
      }
      .ReadMsgBody{
          width:100%;
      }
      .ExternalClass{
          width:100%;
      }
      p,a,li,td,blockquote{
          mso-line-height-rule:exactly;
      }
      a[href^=tel],a[href^=sms]{
          color:inherit;
          cursor:default;
          text-decoration:none;
      }
      p,a,li,td,body,table,blockquote{
          -ms-text-size-adjust:100%;
          -webkit-text-size-adjust:100%;
      }
      .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
          line-height:100%;
      }
      a[x-apple-data-detectors]{
          color:inherit !important;
          text-decoration:none !important;
          font-size:inherit !important;
          font-family:inherit !important;
          font-weight:inherit !important;
          line-height:inherit !important;
      }
      a.mcnButton{
          display:block;
      }
      .mcnImage{
          vertical-align:bottom;
      }
      .mcnTextContent{
          word-break:break-word;
      }
      .mcnTextContent img{
          height:auto !important;
      }
      .mcnDividerBlock{
          table-layout:fixed !important;
      }
      body,#bodyTable,#templateFooter{
          background-color:#aaacad;
      }
      #bodyCell{
          border-top:0;
      }
      h1{
          color:#00535E !important;
          font-family:Helvetica;
          font-size:26px;
          font-style:normal;
          font-weight:normal;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      h2{
          color:#404448 !important;
          font-family:Helvetica;
          font-size:20px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      h3{
          color:#404448 !important;
          font-family:Helvetica;
          font-size:18px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      h4{
          color:#404448 !important;
          font-family:Helvetica;
          font-size:16px;
          font-style:normal;
          font-weight:bold;
          line-height:125%;
          letter-spacing:normal;
          text-align:left;
      }
      #templatePreheader{
          background-color:#FFFFFF;
          border-top:0;
          border-bottom:1px solid #E3E5E6;
      }
      .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
          color:#ABB0B3;
          font-family:Helvetica;
          font-size:12px;
          line-height:125%;
          text-align:left;
      }
      .preheaderContainer .mcnTextContent a{
          color:#ABB0B3;
          font-weight:normal;
          text-decoration:underline;
      }
      #templateHeader{
          background-color:#8b8b8b;
          border-top:0;
          border-bottom:2px solid #b1adad;
      }
      .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
          color:#ABB0B3;
          font-family:Helvetica;
          font-size:18px;
          line-height:150%;
          text-align:center;
      }
      .headerContainer .mcnTextContent a{
          color:#ABB0B3;
          font-weight:normal;
          text-decoration:underline;
      }
      #templateBody{
          background-color:#c2c2c2;
          border-top:0;
          border-bottom:0;
      }
      #bodyBackground{
          border-collapse:separate !important;
          background-color:#FFFFFF;
          border:1px solid #E3E5E6;
          border-radius:0px;
      }
      .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
          color:#ABB0B3;
          font-family:Helvetica;
          font-size:18px;
          line-height:125%;
          text-align:left;
      }
      .bodyContainer .mcnTextContent a{
          color:#404448;
          font-weight:normal;
          text-decoration:underline;
      }
      .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
          color:#ABB0B3;
          font-family:Helvetica;
          font-size:12px;
          line-height:125%;
          text-align:center;
      }
      .footerContainer .mcnTextContent a{
          color:#ABB0B3;
          font-weight:normal;
          text-decoration:underline;
      }
      @media only screen and (max-width: 480px){
          body,table,td,p,a,li,blockquote{
              -webkit-text-size-adjust:none !important;
          }

      }	@media only screen and (max-width: 480px){
          body{
              width:100% !important;
              min-width:100% !important;
          }

      }	@media only screen and (max-width: 480px){
          .templateContainer{
              max-width:600px !important;
              width:100% !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImage{
              height:auto !important;
              width:100% !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnCaptionTopContent,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer{
              max-width:100% !important;
              width:100% !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnBoxedTextContentContainer{
              min-width:100% !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImageGroupContent{
              padding:9px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
              padding-top:9px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
              padding-top:18px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImageCardBottomImageContent{
              padding-bottom:9px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImageGroupBlockInner{
              padding-top:0 !important;
              padding-bottom:0 !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImageGroupBlockOuter{
              padding-top:9px !important;
              padding-bottom:9px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnTextContent,.mcnBoxedTextContentColumn{
              padding-right:18px !important;
              padding-left:18px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
              padding-right:18px !important;
              padding-bottom:0 !important;
              padding-left:18px !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcpreview-image-uploader{
              display:none !important;
              width:100% !important;
          }

      }	@media only screen and (max-width: 480px){
          h1{
              font-size:24px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          h2{
              font-size:20px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          h3{
              font-size:18px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          h4{
              font-size:16px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
              font-size:18px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          #templatePreheader{
              display:block !important;
          }

      }	@media only screen and (max-width: 480px){
          .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
              font-size:14px !important;
              line-height:115% !important;
          }

      }	@media only screen and (max-width: 480px){
          .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
              font-size:18px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
              font-size:18px !important;
              line-height:125% !important;
          }

      }	@media only screen and (max-width: 480px){
          .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
              font-size:14px !important;
              line-height:115% !important;
          }

      }</style>        <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
  <script type="text/javascript">
      try {
          var _gaq = _gaq || [];
          _gaq.push(["_setAccount", "UA-329148-88"]);
          _gaq.push(["_setDomainName", ".campaign-archive.com"]);
          _gaq.push(["_trackPageview"]);
          _gaq.push(["_setAllowLinker", true]);
      } catch(err) {console.log(err);}</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> <link rel="stylesheet" href="http://us12.campaign-archive2.com/css/archivebar-desktop.css" mc:nocompile> <script type="text/javascript" src="http://us12.campaign-archive2.com/js/archivebar-desktop-plugins.js" mc:nocompile></script> <script src="http://downloads.mailchimp.com/ZeroClipboard.min.js" mc:nocompile></script> <script type="text/javascript">
    $(document).ready(function() {
        ZeroClipboard.setDefaults({ moviePath: "//downloads.mailchimp.com/ZeroClipboard.07.13.swf", trustedDomains: ['us12.campaign-archive2.com']});
        var clip = new ZeroClipboard( $('#copyURL') );
        clip.setHandCursor(true);
        clip.on('complete', function(client, args) {alert('Copied "'+args.text+'" to your clipboard.');});
        clip.on('mouseover', function (client) { $('#copyURL').addClass('hover'); });
        clip.on('mouseout', function (client) { $('#copyURL').removeClass('hover'); });

        $('li.more > a').click(function(){
            var toToggle = $($(this).attr('href'));
            if(toToggle.is(':visible')){
                toToggle.slideUp('fast');
                $(this).removeClass('is-active');
                if ($('#awesomebar').find('.is-active').length < 1){
                    $('#awesomebar').removeClass('sub-active');
                }
            } else {
                toToggle.slideDown('fast');
                $(this).addClass('is-active');
                $('#awesomebar').addClass('sub-active');
            }
            return false;
        });

    });
</script> <script src="http://us12.campaign-archive2.com/js/mailchimp/fancyzoom.mc.js"></script> <script type="text/javascript">
    function updateFacebookCommentsCount(num) {
        $('#campaign-fb-comments-btn span').fadeOut().html(num).fadeIn();
    }
</script> <script type="text/javascript">
    function incrementFacebookLikeCount() {
        var current = parseInt($('#campaign-fb-like-btn span').html());
        $('#campaign-fb-like-btn span').fadeOut().html(++current).fadeIn();
    }

    function getUrlParams(str) {
        var vars = {}, hash;
        if (!str) return vars;
        var hashes = str.slice(str.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    function setupSocialSharingStuffs() {
        var numSocialElems = $('a[rel=socialproxy]').length;
        var numSocialInitialized = 0;
        var urlParams = getUrlParams(window.document.location.href);
        var paramsToCopy = {'e':true, 'eo':true};
        $('a[rel=socialproxy]').each(function() {
            var href = $(this).attr('href');
            var newHref = decodeURIComponent(href.match(/socialproxy=(.*)/)[1]);
            // for facebook insanity to work well, it needs to all be run against just campaign-archive
            newHref = newHref.replace(/campaign-archive(\d)/gi, 'campaign-archive');
            var newHrefParams = getUrlParams(newHref);
            for(var param in urlParams) {
                if ((param in paramsToCopy) && !(param in newHrefParams)) {
                    newHref += '&' + param + '=' + urlParams[param];
                }
            }
            $(this).attr('href', newHref);
            if (href.indexOf('facebook-comment') !== -1) {
                $(this).fancyZoom({"zoom_id": "social-proxy", "width":620, "height":450, "iframe_height": 450});
            } else {
                $(this).fancyZoom({"zoom_id": "social-proxy", "width":500, "height":200, "iframe_height": 500});
            }
            numSocialInitialized++;
        });
    }
    if (window.top!=window.self){
        $(function() {
            var iframeOffset = $("#archive", window.parent.document).offset();
            $("a").each(function () {
                var link = $(this);
                var href = link.attr("href");
                if (href && href[0] == "#") {
                    var name = href.substring(1);
                    $(this).click(function () {
                        var nameElement = $("[name='" + name + "']");
                        var idElement = $("#" + name);
                        var element = null;
                        if (nameElement.length > 0) {
                            element = nameElement;
                        } else if (idElement.length > 0) {
                            element = idElement;
                        }

                        if (element) {
                            var offset = element.offset();
                            var height = element.height();
                            //3 is totally arbitrary, but seems to work best.
                            window.parent.scrollTo(offset.left, (offset.top + iframeOffset.top - (height*3)) );
                        }

                        return false;
                    });
                }
            });
        });
    }
</script>  <script type="text/javascript">
    $(document).ready(function() {
        setupSocialSharingStuffs();
    });

</script> </head> <body id="archivebody">
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="height: 100%;margin: 0;padding: 0;width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #aaacad;">
<center>
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;background-color: #aaacad;">
    <tr>
      <td align="center" valign="top" id="bodyCell" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;padding: 0;width: 100%;border-top: 0;">
        <!-- BEGIN TEMPLATE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <tr>
            <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
              <!-- BEGIN PREHEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 1px solid #E3E5E6;">
                <tr>
                  <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <tr>
                        <td valign="top" class="preheaderContainer" style="padding-top: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td class="mcnTextBlockInner" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                              <table class="mcnTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="366" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody><tr>

                                  <td class="mcnTextContent" style="padding-top: 9px;padding-left: 18px;padding-bottom: 9px;padding-right: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 12px;line-height: 125%;text-align: left;" valign="top">

                                    Thank you so much for your interest in Nuryl
                                  </td>
                                </tr>
                                </tbody></table>

                              <table class="mcnTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="197" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody><tr>

                                  <td class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 12px;line-height: 125%;text-align: left;" valign="top">

                                    <a href="http://us12.campaign-archive1.com/?u=4bd2d38a9791411f892ceebda&id=ef3e60a6d2&e=[UNIQID]" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ABB0B3;font-weight: normal;text-decoration: underline;">View this email in your browser</a>
                                  </td>
                                </tr>
                                </tbody></table>

                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END PREHEADER -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
              <!-- BEGIN HEADER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #8b8b8b;border-top: 0;border-bottom: 2px solid #b1adad;">
                <tr>
                  <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <tr>
                        <td valign="top" class="headerContainer" style="padding-top: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnImageBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody class="mcnImageBlockOuter">
                          <tr>
                            <td style="padding: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnImageBlockInner" valign="top">
                              <table class="mcnImageContentContainer" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>
                                  <td class="mcnImageContent" style="padding-right: 0px;padding-left: 0px;padding-top: 0;padding-bottom: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top">


                                    <img alt="" src="https://gallery.mailchimp.com/4bd2d38a9791411f892ceebda/images/0ae09bd3-ce02-4590-92c9-e038cc3c7559.jpg" style="max-width: 650px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage" align="left" width="600">


                                  </td>
                                </tr>
                                </tbody></table>
                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END HEADER -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
              <!-- BEGIN BODY // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #c2c2c2;border-top: 0;border-bottom: 0;">
                <tr>
                  <td align="center" valign="top" class="mobilePaddingRL5" style="padding-top: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="bodyBackground" class="templateContainer" style="border-collapse: separate !important;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border: 1px solid #E3E5E6;border-radius: 0px;">
                      <tr>
                        <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tr>
                              <td valign="top" class="bodyContainer" style="padding-top: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                  <td valign="top" class="mcnTextBlockInner" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer">
                                      <tbody><tr>

                                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 18px;line-height: 125%;text-align: left;">

                                          <h1 class="null" style="display: block;margin: 0;padding: 0;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: normal;line-height: 125%;letter-spacing: normal;text-align: left;color: #00535E !important;"><span style="color:#666666"><img align="right" height="375" src="https://gallery.mailchimp.com/4bd2d38a9791411f892ceebda/images/e7ebf0f0-5046-44cb-93e3-98a3c82241a8.jpg" style="width: 189px;height: 375px;margin: 0px 0px 0px 12px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" width="189"><br>
<br>
<span style="font-size:32px">Welcome to Nuryl</span></span></h1>
                                          <br>
                                          <span style="font-size:14px"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="color:#000000">Thank you for downloading Nuryl from the App Store and signing up to be a user. Please read the important information below about the current release of our app.&nbsp;</span></span></span>
                                        </td>
                                      </tr>
                                      </tbody></table>

                                  </td>
                                </tr>
                                </tbody>
                              </table><table class="mcnImageBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody class="mcnImageBlockOuter">
                                <tr>
                                  <td style="padding: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnImageBlockInner" valign="top">
                                    <table class="mcnImageContentContainer" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td class="mcnImageContent" style="padding-right: 0px;padding-left: 0px;padding-top: 0;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top">


                                          <img alt="" src="https://gallery.mailchimp.com/4bd2d38a9791411f892ceebda/images/1b4752d1-ba1d-4d9e-81e2-edca648e9014.jpg" style="max-width: 650px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage" align="middle" width="598">


                                        </td>
                                      </tr>
                                      </tbody></table>
                                  </td>
                                </tr>
                                </tbody>
                              </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                  <td valign="top" class="mcnTextBlockInner" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer">
                                      <tbody><tr>

                                        <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 18px;line-height: 125%;text-align: left;">

                                          <div style="text-align: center;"><br>
                                            <span style="color:#000000"><span style="font-size:24px">Cutting Edge Baby Brain Education </span></span>

                                            <hr><span style="font-size:16px"><span style="color: #000000;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif">Unlock your baby’s full potential by commencing Nuryl’s revolutionary curriculum</span></span></span><br>
                                            &nbsp;</div>
                                          <br>
                                          <br>
<span style="font-size:14px"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span style="color:#000000">Dear <%= @user.f_name %>,<br>
<br>
Thank you so much for signing up for Nuryl, the only baby brain training app of it's kind. Now that you've downloaded our ground breaking education program for babies, it's time to get started.&nbsp;<br>
<br>
The current version of our app is set to FREE. Nuryl is a subscription based app that will cost $9.99 per month. Right now, you can download and use the current playlist as much as you want to "test drive" our app while our developers are adding our subscription pages. This will allow you to use Nuryl for the next 7-10 days absolutely free of charge.&nbsp;<br>
<br>
Since you're one of our first users during this phase in our development, we have a special offer that we will send you at the end of this initial 7-10 days, so keep an eye out for that email as it will be coming to you soon.&nbsp;<br>
<br>
Our "How-To" video can be found here: </span><a href="https://itunes.apple.com/us/app/nuryl/id1059621665?ls=1&amp;mt=8" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #404448;font-weight: normal;text-decoration: underline;"><span style="color:#000000">Nuryl How-To Video</span></a><span style="color:#000000">&nbsp;<br>
<br>
In this video, you'll find more information on how to use the Nuryl app, recommended listening time, and special feature highlights.&nbsp;<br>
<br>
We're so happy you chose to start using Nuryl with your baby. Your journey begins right now.&nbsp;<br>
<br>
<br>
Sincerely,</span></span><br>
<span style="color: #000000;"><span style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif">The Nuryl Team</span></span></span><br>
                                          <br>
                                          &nbsp;
                                        </td>
                                      </tr>
                                      </tbody></table>

                                  </td>
                                </tr>
                                </tbody>
                              </table><table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody class="mcnTextBlockOuter">
                                <tr>
                                  <td class="mcnTextBlockInner" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                    <table style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>

                                        <td class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 18px;line-height: 125%;text-align: left;" valign="top">

                                          <div style="text-align: center;"><span style="color:#33ccff">Share Nuryl with a friend before our launch so they can receive our special introductory offer as well!</span></div>

                                        </td>
                                      </tr>
                                      </tbody></table>

                                  </td>
                                </tr>
                                </tbody>
                              </table><table class="mcnShareBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody class="mcnShareBlockOuter">
                                <tr>
                                  <td style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnShareBlockInner" valign="top">
                                    <table class="mcnShareContentContainer" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td style="padding-top: 0;padding-left: 9px;padding-bottom: 0;padding-right: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="center">
                                          <table style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnShareContent" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody><tr>
                                              <td class="mcnShareContentItemContainer" style="padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="center" valign="top">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                  <tbody><tr>
                                                    <td align="left" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                      <!--[if mso]>
                                                      <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                          <tr>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      <td align="center" valign="top">
                                                      <![endif]-->
                                                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                          <td style="padding-right: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnShareContentItemContainer" valign="top">
                                                            <table class="mcnShareContentItem" style="border-collapse: separate;border-radius: 3px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="">
                                                              <tbody><tr>
                                                                <td style="padding-top: 5px;padding-right: 9px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" valign="middle">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <tbody><tr>
                                                                      <td class="mcnShareIconContent" align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Feepurl.com%2FbT6FTb" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-facebook-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="" height="24" width="24"></a>
                                                                      </td>
                                                                      <td class="mcnShareTextContent" style="padding-left: 5px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" valign="middle">
                                                                        <a style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Feepurl.com%2FbT6FTb" target="">Share</a>
                                                                      </td>
                                                                    </tr>
                                                                    </tbody></table>
                                                                </td>
                                                              </tr>
                                                              </tbody></table>
                                                          </td>
                                                        </tr>
                                                        </tbody></table>
                                                      <!--[if mso]>
                                                      </td>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      <td align="center" valign="top">
                                                      <![endif]-->
                                                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                          <td style="padding-right: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnShareContentItemContainer" valign="top">
                                                            <table class="mcnShareContentItem" style="border-collapse: separate;border-radius: 3px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="">
                                                              <tbody><tr>
                                                                <td style="padding-top: 5px;padding-right: 9px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" valign="middle">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <tbody><tr>
                                                                      <td class="mcnShareIconContent" align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <a href="http://twitter.com/intent/tweet?text=Welcome+to+Nuryl%21: http%3A%2F%2Feepurl.com%2FbT6FTb" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-twitter-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="" height="24" width="24"></a>
                                                                      </td>
                                                                      <td class="mcnShareTextContent" style="padding-left: 5px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" valign="middle">
                                                                        <a style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" href="http://twitter.com/intent/tweet?text=Welcome+to+Nuryl%21: http%3A%2F%2Feepurl.com%2FbT6FTb" target="">Tweet</a>
                                                                      </td>
                                                                    </tr>
                                                                    </tbody></table>
                                                                </td>
                                                              </tr>
                                                              </tbody></table>
                                                          </td>
                                                        </tr>
                                                        </tbody></table>
                                                      <!--[if mso]>
                                                      </td>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      <td align="center" valign="top">
                                                      <![endif]-->
                                                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                          <td style="padding-right: 0;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnShareContentItemContainer" valign="top">
                                                            <table class="mcnShareContentItem" style="border-collapse: separate;border-radius: 3px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="">
                                                              <tbody><tr>
                                                                <td style="padding-top: 5px;padding-right: 9px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" valign="middle">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <tbody><tr>
                                                                      <td class="mcnShareIconContent" align="center" valign="middle" width="24" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <a href="http://us12.forward-to-friend1.com/forward?u=4bd2d38a9791411f892ceebda&id=ef3e60a6d2&e=[UNIQID]" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/outline-dark-forwardtofriend-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="" height="24" width="24"></a>
                                                                      </td>
                                                                      <td class="mcnShareTextContent" style="padding-left: 5px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" align="left" valign="middle">
                                                                        <a style="color: #202020;font-family: Arial;font-size: 12px;font-weight: normal;line-height: normal;text-align: center;text-decoration: none;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" href="http://us12.forward-to-friend1.com/forward?u=4bd2d38a9791411f892ceebda&id=ef3e60a6d2&e=[UNIQID]" target="">Forward</a>
                                                                      </td>
                                                                    </tr>
                                                                    </tbody></table>
                                                                </td>
                                                              </tr>
                                                              </tbody></table>
                                                          </td>
                                                        </tr>
                                                        </tbody></table>
                                                      <!--[if mso]>
                                                      </td>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      </tr>
                                                      </table>
                                                      <![endif]-->
                                                    </td>
                                                  </tr>
                                                  </tbody></table>
                                              </td>
                                            </tr>
                                            </tbody></table>
                                        </td>
                                      </tr>
                                      </tbody></table>

                                  </td>
                                </tr>
                                </tbody>
                              </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody class="mcnFollowBlockOuter">
                                <tr>
                                  <td align="center" valign="top" style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowBlockInner">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                      <tbody><tr>
                                        <td align="center" style="padding-left: 9px;padding-right: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContent">
                                            <tbody><tr>
                                              <td align="center" valign="top" style="padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                  <tbody><tr>
                                                    <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                      <!--[if mso]>
                                                      <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                          <tr>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      <td align="center" valign="top">
                                                      <![endif]-->


                                                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                          <td valign="top" style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContentItemContainer">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                              <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <tbody><tr>

                                                                      <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <a href="http://www.facebook.com/nurylapp" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24" width="24" class=""></a>
                                                                      </td>


                                                                    </tr>
                                                                    </tbody></table>
                                                                </td>
                                                              </tr>
                                                              </tbody></table>
                                                          </td>
                                                        </tr>
                                                        </tbody></table>

                                                      <!--[if mso]>
                                                      </td>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      <td align="center" valign="top">
                                                      <![endif]-->


                                                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                          <td valign="top" style="padding-right: 0;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnFollowContentItemContainer">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                              <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                    <tbody><tr>

                                                                      <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <a href="http://nuryl.com" target="_blank" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" height="24" width="24" class=""></a>
                                                                      </td>


                                                                    </tr>
                                                                    </tbody></table>
                                                                </td>
                                                              </tr>
                                                              </tbody></table>
                                                          </td>
                                                        </tr>
                                                        </tbody></table>

                                                      <!--[if mso]>
                                                      </td>
                                                      <![endif]-->

                                                      <!--[if mso]>
                                                      </tr>
                                                      </table>
                                                      <![endif]-->
                                                    </td>
                                                  </tr>
                                                  </tbody></table>
                                              </td>
                                            </tr>
                                            </tbody></table>
                                        </td>
                                      </tr>
                                      </tbody></table>

                                  </td>
                                </tr>
                                </tbody>
                              </table><table class="mcnDividerBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody class="mcnDividerBlockOuter">
                                <tr>
                                  <td class="mcnDividerBlockInner" style="min-width: 100%;padding: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table class="mcnDividerContent" style="min-width: 100%;border-top: 2px solid #EAEAEA;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                          <span></span>
                                        </td>
                                      </tr>
                                      </tbody></table>
                                    <!--
                                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                    -->
                                  </td>
                                </tr>
                                </tbody>
                              </table></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END BODY -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="padding-bottom: 40px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
              <!-- BEGIN FOOTER // -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #aaacad;">
                <tr>
                  <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <tr>
                        <td valign="top" class="footerContainer" style="padding-top: 9px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td class="mcnTextBlockInner" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                              <table style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>

                                  <td class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 12px;line-height: 125%;text-align: center;" valign="top">

                                    <em>Copyright © 2016 Nuryl, All rights reserved.</em>
                                    <br>

                                    <br>
                                    <br>
                                    Want to change how you receive these emails?<br>
                                    You can <a href="http://nuryl.us12.list-manage.com/profile?u=4bd2d38a9791411f892ceebda&id=62bfec834d&e=[UNIQID]" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ABB0B3;font-weight: normal;text-decoration: underline;">update your preferences</a> or <a href="http://nuryl.us12.list-manage.com/unsubscribe?u=4bd2d38a9791411f892ceebda&id=62bfec834d&e=[UNIQID]&c=ef3e60a6d2" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ABB0B3;font-weight: normal;text-decoration: underline;">unsubscribe from this list</a>
                                    <br>
                                    <br>

                                  </td>
                                </tr>
                                </tbody></table>

                            </td>
                          </tr>
                          </tbody>
                        </table><table class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td class="mcnTextBlockInner" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                              <table style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody><tr>

                                  <td class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #ABB0B3;font-family: Helvetica;font-size: 12px;line-height: 125%;text-align: center;" valign="top">

                            <span style="color:#FFFFFF"><em>Copyright © 2016 Nuryl, All rights reserved.</em><br>
<br>
<br>
Want to change how you receive these emails?<br>
You can </span><a href="http://nuryl.us12.list-manage.com/profile?u=4bd2d38a9791411f892ceebda&id=62bfec834d&e=[UNIQID]" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ABB0B3;font-weight: normal;text-decoration: underline;"><span style="color:#FFFFFF">update your preferences</span></a><span style="color:#FFFFFF"> or </span><a href="http://nuryl.us12.list-manage.com/unsubscribe?u=4bd2d38a9791411f892ceebda&id=62bfec834d&e=[UNIQID]&c=ef3e60a6d2" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ABB0B3;font-weight: normal;text-decoration: underline;"><span style="color:#FFFFFF">unsubscribe from this list</span></a><br>
                                    <br>
                                    <span style="color:#FFFFFF"></span>
                                  </td>
                                </tr>
                                </tbody></table>

                            </td>
                          </tr>
                          </tbody>
                        </table></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <!-- // END FOOTER -->
            </td>
          </tr>
        </table>
        <!-- // END TEMPLATE -->
      </td>
    </tr>
  </table>
</center>
</body>    </body> </html>
