*,*:before,*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
html {
   min-height: 100%;
   overflow: hidden;
}
button,
input,
select,
textarea {
   border: 0;
   -webkit-appearance: none;
}
a:active,
a:focus,
button:active,
input:active,
select:active,
textarea:active,
button:focus,
input:focus,
select:focus,
textarea:focus {
   outline: none;
}
.page-background {
   background-color: #3d93ad;
   background-image: url(background.png);
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
}
.clearfix {
   clear: both;
}
.clearfix:after {
   content: "";
   clear: both;
   display: table;
}
.button {
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   transition: all 300ms;
}
.button:hover {
   opacity: 0.85;
}
.button:active {
   opacity: 1;
   -webkit-transition: none;
   -moz-transition: none;
   transition: none;
}
.page-fixed {
   position: fixed;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: auto;
   -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
   border-top: 4px solid #d29355;
}
.page-content-inner {
   min-height: 100%;
   margin-bottom: 1px;
}
.pull-left {
   float: left;
}
.pull-right {
   float: right;
}
.pe-no {
   pointer-events: none;
}
.pe-auto {
   pointer-events: auto;
}
.width-50 {
   width: 50%;
}
.width-33 {
   width: 33%;
}
/**
 * Logo
 */
.logo {
   width: 615px;
   margin: auto;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   pointer-events: none;
   text-align: center;
}
.logo:before,
.logo:after {
   position: absolute;
   content: "";
   display: block;
   width: 175px;
   height: 175px;
   top: 50px;
   left: 0;
   right: 0;
   // bottom: 0;
   margin: auto;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   border-radius: 100%;
}
.logo:before {
   background-color: #ffffff;
   opacity: 0.09;
   z-index: 4;
}
.logo:after {
   // background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
   // background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
   // background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
   // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
   -webkit-box-shadow: 0 0 250px 0 #ffffff;
   -moz-box-shadow: 0 0 250px 0 #ffffff;
   box-shadow: 0 0 250px 0 #ffffff;
   opacity: 0.5;
}
.logo span {
   display: block;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #ffffff;
   font-size: 39px;
   position: absolute;
   left: 0;
   right: 0;
   top: 260px;
}
.logo img {
   margin-top: 50px;
}
/**
 * Form Wrappers
 */
.form-wrapper {
   width: 680px;
   margin: auto;
   // padding-top: 340px;
   padding-top: 250px;
   // min-height: 500px;
}
.form-wrapper .form-row {
   width: 225px;
   margin: auto auto 24px auto;
   position: relative;
}
.submit-button,
.form-wrapper select,
.form-wrapper textarea,
.form-wrapper label,
.form-wrapper input {
   font-family: 'Source Sans Pro', sans-serif;
   // width: 223px;
   background-color: #ffffff;
   color: #3b3d40;
   font-size: 17px;
   padding: 13px 23px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   font-weight: 600;
   display: block;
   width: 100%;
}
.form-wrapper select {
   background-image: url(caret_down.png);
   background-size: 14px;
   background-position: 95% 50%;
   background-position: right 10px center 50%;
   background-repeat: no-repeat;
   padding-right: 50px;
}
.submit-button {
   background-color: #d29355;
   color: #ffffff;
   font-size: 17px;
   width: 225px;
   margin: auto;
}
.submit-button img {
   vertical-align: middle;
   position: relative;
   top: -2px;
   margin-left: 2px;
}
.submit-wrapper {
   padding-top: 30px;
   margin-bottom: 70px;
}

.signup-tab .form-row {
   float: left;
}
.form-group .width-50 {
   width: 50%;
}
.form-group .width-33 {
   width: 33%;
}
/**
 * checkbox-radio
 */
input.checkbox-input,
input.radio-input {
   position: absolute;
   opacity: 0;
   padding: 0;
   z-index: 5;
   cursor: pointer;
}
input.checkbox-input,
input.radio-input,
div.radio-input,
span.radio-input,
div.checkbox-input,
span.checkbox-input {
   width: 30px;
   height: 30px;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   border-radius: 100%;
   border: 2px solid rgba(255, 255, 255, 0.34);
   display: inline-block;
   text-align: center;
   line-height: 26px;
   margin-right: 10px;
}
div.radio-input i,
span.radio-input i,
div.checkbox-input i,
span.checkbox-input i,
div.radio-input img,
span.radio-input img,
div.checkbox-input img,
span.checkbox-input img{
   opacity: 0;
}
input.checkbox-input ~ .label,
input.radio-input ~ .label,
div.radio-input ~ .label,
span.radio-input ~ .label,
div.checkbox-input ~ .label,
span.checkbox-input ~ .label {
   color: #ffffff;
   font-size: 17px;
   font-weight: 600;
   font-family: 'Source Sans Pro', sans-serif;
}
input.checkbox-input:checked ~ div.checkbox-input i,
input.checkbox-input:checked ~ div.checkbox-input img,
input.radio-input:checked ~ div.radio-input i,
input.radio-input:checked ~ div.radio-input img,
input.checkbox-input:checked ~ span.checkbox-input i,
input.checkbox-input:checked ~ span.checkbox-input img,
input.radio-input:checked ~ span.radio-input i,
input.radio-input:checked ~ span.radio-input img {
   opacity: 1;
}
/**
 * Tabs and Tab Links
 */
.tabs {
   position: relative;
}
.tabs .tab {
   display: none;
}
.tabs .tab.active {
   display: block;
}
.tab-links {
   // position: absolute;
   position: relative;
   height: 115px;
   z-index: 5;
}
.tab-links .tab-link {
   display: block;
   width: 90px;
   height: 115px;
   text-align: center;
   position: absolute;
   top: 90px;
   margin: auto;
   color: #ffffff;
   padding-top: 40px;
   text-transform: uppercase;
   opacity: 0.21;
}
.tab-links .tab-link.active {
   opacity: 1;
}
.tab-links .tab-link img,
.tab-links .tab-link span {
   pointer-events: none;
}
.tab-links .label {
   display: block;
   font-size: 21px;
   font-family: 'Roboto', sans-serif;
}
.tab-links .login-tab-link {
   left: 0;
   -webkit-transform: translate3d(60px, 0, 0);
   -moz-transform: translate3d(60px, 0, 0);
   transform: translate3d(60px, 0, 0);
}
.tab-links .login-tab-link img {
   margin-bottom: 30px;
}
.tab-links .signup-tab-link {
   right: 0;
   left: initial;
   -webkit-transform: translate3d(-60px, 0, 0);
   -moz-transform: translate3d(-60px, 0, 0);
   transform: translate3d(-60px, 0, 0);
}
.tab-links .signup-tab-link img {
   margin-bottom: 14px;
}
.tab-links[data-name="signup"] .login-tab-link {
   -webkit-transform: translate3d(-44px, 0, 0);
   -moz-transform: translate3d(-44px, 0, 0);
   transform: translate3d(-44px, 0, 0);
}
.tab-links[data-name="signup"] .signup-tab-link {
   -webkit-transform: translate3d(44px, 0, 0);
   -moz-transform: translate3d(44px, 0, 0);
   transform: translate3d(44px, 0, 0);
}
/**
 * Signup
 */
.signup-form {
   width: 469px;
   margin: auto;
}
.signup-form .form-row:nth-child(odd) {
   margin-right: 9px;
}
.signup-form .form-row:nth-child(even) {
   margin-left: 9px;
}