


body {

    background: url(bg-photo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#Content {
    width:500px;
    margin:0px auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}

.sbt_btn{
    cursor:pointer;
}

.message{
    color: brown;
    padding: 5px;
}

.payment_form{
    max-width : 550px !important;
    padding: 10px;
}

.payment-head{
    margin-left: 40%;
}

.payment_lbl{
    font-size: 25px !important;
}
