.error-email-label{
    display: none;
    margin-bottom: 5px;
    color: red;
}
.message{
    padding-left: 40%;
    padding-bottom: 5px;
    color: red;
}

.message_cust{
    padding-left: 20%;
    color: white;
    text-align: center;
    max-width: 550px;
    margin-bottom: 15px;
}