@media only screen and (max-width: 720px) {
   .form-wrapper {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 200px;
      // padding-top: 35%;
   }
   .logo {
      -webkit-transform: scale(0.55);
      -moz-transform: scale(0.55);
      transform: scale(0.55);
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      transform-origin: 50% 0;
      // width: 100%;
      // overflow: hidden;
   }
   .logo img {
      // width: 715px;
      // margin: auto;
      // width: 100%;
   }
   .tab-links  {
      text-align: center;
      margin-bottom: 70px;
   }
   .tab-links .tab-link {
      position: relative;
      top: 0;
      display: inline-block;
      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
      margin: auto 15%;
      // vertical-align: baseline;
   }
}

@media only screen and (max-width: 568px) {
   .logo {
      width: 324px;
      margin: auto;
      // -webkit-transform: none;
      // -moz-transform: none;
      // transform: none;
   }
   .logo:before {
      background: #A0A0A0;
   }
   .form-wrapper {
      padding-top: 160px;
   }
   .tab-links  {
      -webkit-transform: scale(0.76);
      -moz-transform: scale(0.76);
      transform: scale(0.76);
   }
   .tab-links .tab-link {
      margin: auto 14%;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      transform: none !important;
      // vertical-align: baseline;
   }
   .tab-links .login-tab-link {
      margin-left: 0 !important;
   }
   .tab-links .signup-tab-link {
      margin-right: 0 !important;
   }
   .signup-form {
      width: 100%;
   }
   .form-wrapper .form-row,
   .form-wrapper .form-row:nth-child(odd),
   .form-wrapper .form-row:nth-child(even),
   .form-wrapper input,
   .form-wrapper select,
   .form-wrapper textarea {
      width: 100%;
      float: none;
      clear: both;
      margin-left: 0;
      margin-right: 0;
   }
}

@media only screen and (max-width: 420px) {

}