@media only screen and (max-width: 720px) {
   .payment-body .tab-links,
   .registration-body .tab-links {
      margin-bottom: 0;
   }
   .payment-body .form-wrapper,
   .registration-body .form-wrapper,
   .payment-body .form-wrapper .form-row,
   .registration-body .form-wrapper .form-row {
      width: 100%;
   }
}

@media only screen and (max-width: 568px) {
   .payment-body .tab-links .tab-link,
   .registration-body .tab-links .tab-link {
      display: block;
      height: 98px;
      margin-left: 0;
      margin-right: 0;
   }
   .payment-body .tab-links .tab-link:first-child,
   .registration-body .tab-links .tab-link:first-child {
      float: left;
   }
   .payment-body .tab-links .tab-link:last-child,
   .registration-body .tab-links .tab-link:last-child {
      float: right;
   }
}
@media only screen and (max-width: 420px) {
   .page-content-inner {
      overflow: hidden;
   }
   .payment-body .tab-links,
   .registration-body .tab-links {
      width: 150%;
      left: -25%;
      -webkit-transform: scale(0.61);
      -moz-transform: scale(0.61);
      transform: scale(0.61);
   }
}