<div class="rkv_wrapper">
  <div class="rkv_form_wrapper  rkv_checkout">
    <h1>Your subscription is active. For listening songs, please login to app.</h1>
  </div>
</div>

<style type="text/css">
    body {
        background-image: none;
    }
</style>