<div class="rkv_wrapper">
  <div class="rkv_form_wrapper  rkv_checkout">
    <h1>Card Details Updated</h1>
   </div>
 </div>

<style type="text/css">
    body {
        background-image: none;
    }
</style>