<footer class="rkv_footer">
  <div class="rkv_wrapper">
    <div class="rkv-col-4">
      <div class="footer-logo-container">
        <a href="" class="footer-logo">
          <img src="/assets/logo.png">
        </a>
      </div>
      <p>Address: 151 Spring St NW, Atlanta, GA 30303
        Email: info@nuryl.com
        Phone: (470)362-7000
      </p>
      <div class="social-icon-container">
        <a href="http://twitter.com/nurylapp" class="social-icon twitter"></a>
        <a href="http://www.facebook.com/nurylapp" class="social-icon facebook"></a>
        <a href="https://plus.google.com/nurylapp" class="social-icon google-plus"></a>
        <a href="http://instagram.com/_nuryl" class="social-icon instagram"></a>
      </div>
    </div>
    <div class="rkv-col-4">
      <h3>Latest News</h3>
      <p>
        <a href="http://www.nuryl.com/2016/03/07/perfect-pitch-a-not-so-rare-phenomenon/">Perfect Pitch: A (Not-So) Rare Phenomenon</a>
        March 7, 2016
      </p>
      <p>
        <a href="http://www.nuryl.com/2016/02/03/dylans-30-million-views/">Dylan’s 30+ Million Views</a>
        February 3, 2016
      </p>
      <p>
        <a href="http://www.nuryl.com/2016/01/28/your-babys-brain-on-music/">Your Baby’s Brain on Music</a>
        January 28, 2016
      </p>
    </div>
    <div class="rkv-col-4">
      <h3>More Links</h3>
      <a href="">Contact Us</a><span style="display: inline-block;width: 10px; height: 28px;float: left"></span><a>Privacy Policy</a>
    </div>
    <div class="rkv-col-4"></div>
  </div>
</footer>
