<header class="rkv-header">
  <div class="rkv-search-bar">
    <div class="rkv_wrapper">
      <form>
        <div class="rkv-input-wrapper">
          <input type="text" placeholder="search">
          <div class="rkv-close-btn"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="rkv-menu-bar">
    <div class="rkv_wrapper">
      <div class="rkv-logo-section">
        <a href="#">
          <img class="rkv-logo1" src="/assets/logo.png">
          <img class="rkv-logo2" src="/assets/logo-2.png">
        </a>
      </div>
      <div class="rkv-responsive-search-button"></div>
      <div class="rkv-responsive-menu-button"></div>
      <div class="rkv-menu-section">
        <ul>
          <li><a href="http://www.nuryl.com/">home</a></li>
          <li><a href="http://www.nuryl.com/download-the-nuryl-app/"  class="active">subscribe</a></li>
          <li><a href="http://www.nuryl.com/what-is-nuryl/">how to use Nuryl</a></li>
          <li><a href="http://www.nuryl.com/category/resources/">resources</a></li>
          <li><a href="http://www.nuryl.com/news">news</a></li>
          <li><a href="http://www.nuryl.com/nuryl-faq/">faq</a></li>
          <li><a href="http://www.nuryl.com/contact">contact</a></li>
          <li><a href="http://www.nuryl.com" class="rkv-search"></a></li>
          <% if user_signed_in? %>
              <li><%=button_to "LOG OUT", destroy_user_session_path,{method: :delete,class:"hidden-menu"}%></li>
           <%end%>
        </ul>
      </div>
    </div>
  </div>
</header>
